exportPattern("^[[:alpha:]]+")
export(CTSgetR,CTS.options,multi.CTSgetR,KEGGtoName,NametoKEGG,CIDtoName,NametoPubChem,NametoInchI)
import(RCurl)
import(jsonlite)
import(KEGGREST)
import(vwr)
import(RJSONIO)
import(utils)
